header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 15px; }

nav {
  grid-area: nav; }

nav div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 15px;
  padding: 15px; }

footer {
  grid-area: footer;
  padding: 15px; }

.colorTwitter {
  color: #1465ab; }

.colorDiscord {
  color: #4f98f9; }

.colorTelegram {
  color: #4cb4ff; }

.colorYoutube {
  color: #c81414; }

.welcome, .welcomeSubtitle {
  font-size: 900;
  font-style: italic;
  color: #c47e2a; }

.welcomeSubtitle {
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  font-weight: 600; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block;
    padding: 10px;
    margin: 0px 20px;
    font-weight: 600;
    font-size: large; }
    ul li:visited {
      color: black; }
    ul li:hover {
      text-decoration: underline; }
    ul li a {
      text-decoration: none;
      color: black; }
      ul li a:visited {
        color: black; }

a {
  text-decoration: none;
  color: black; }
  a:visited {
    color: black; }

main {
  grid-area: main; }
  main section {
    text-align: center;
    font-size: large; }
  main div section {
    padding: 15px;
    margin: 15px;
    border: solid 2px beige; }

aside {
  display: none;
  max-height: 50%; }

.wrapper {
  background: linear-gradient(90deg, #be98e4 0%, #83118e 50%, #410773 100%);
  display: grid;
  width: fit-content;
  min-height: 100vh;
  grid-template-areas: "header" "nav" "main" "footer"; }

.logoFadeIn {
  animation-name: fadeIn;
  animation-iteration-count: 2;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0.5s; }

.center {
  text-align: center;
  font-family: 'roboto-slab'; }

.swapFlex {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  padding: 15px; }

.swapMargin {
  background-color: rgba(115, 176, 249, 0.812);
  margin: 15px;
  padding: 15px; }

.stakeFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 15px;
  padding: 15px; }

.listFlex {
  display: flex;
  justify-content: space-evenly; }

.imgFarm {
  display: none; }

.kittenPrice {
  display: none; }

.btcPrice {
  display: none; }

.cardBorder, .nftBorder {
  border-radius: 20px;
  border: solid 2px beige;
  background: linear-gradient(359deg, #a48bbd 0%, #7d0f87 38%, #3543e8 74%, #0f2965 100%); }

.actualSize {
  object-fit: none; }

.cardGames {
  display: none;
  background-color: #d2a5fd;
  padding: 100px;
  margin: 15px;
  border-radius: 40px; }

.cardLottery {
  background-color: rgba(92, 92, 255, 0.764);
  border-radius: 40px;
  transform: rotate(-2deg); }

.cardPrediction {
  background-color: #a0a018;
  transform: rotate(2deg);
  border-radius: 40px; }

.card-title {
  font-weight: bolder;
  color: rgba(34, 16, 80, 0.784); }

.farmFlex {
  display: flex;
  justify-content: center; }

hr {
  margin: 0;
  border: solid 3px;
  color: black; }

.farmWrapper {
  background-color: #000052;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 40px;
  width: 75%;
  min-width: fit-content; }

.farmGrid {
  background-color: #c3fffb;
  display: grid;
  grid-template-areas: "pair apy apr";
  grid-template-columns: 3fr 3fr 3fr;
  column-gap: 2px;
  padding: 10px; }

.farmTitle {
  font-weight: bolder;
  font-size: x-small;
  color: #50257b;
  font-family: 'Roboto Slab', serif; }

.farmInfo {
  font-size: small;
  font-family: 'Roboto Slab', serif;
  color: rgba(126, 12, 12, 0.877);
  font-style: italic; }

.pair {
  grid-area: pair;
  white-space: nowrap; }

.apy {
  grid-area: apy; }

.apr {
  grid-area: apr; }

.liquidity {
  grid-area: liquidity;
  white-space: nowrap;
  display: none; }

.earned {
  grid-area: earned;
  display: none; }

.details {
  grid-area: details;
  display: none; }

.apyFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: larger; }

.nftP {
  display: none; }

.radiusFarm {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px; }

.radiusFarmBot {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; }

@keyframes fadeIn {
  0% {
    transform: translateX(70px);
    opacity: 0; }
  100% {
    transform: translateX(0px); } }

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-areas: "header nav" "main main" "footer footer"; }
  .farmGrid {
    padding: 25px 75px;
    grid-template-areas: "pair apy apr liquidity earned details";
    column-gap: 24px;
    margin: 0 50px; }
  .farmWrapper {
    padding: 20px; }
  .farmInfo {
    font-size: medium; }
  .liquidity {
    display: block; }
  .stakeFlex {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .balances {
    display: block; }
  .faqFlex {
    display: flex;
    justify-content: space-between; }
  .imgFarm {
    display: block;
    margin: 15px;
    padding: 15px; }
  .kittenPrice {
    display: none; }
  .btcPrice {
    display: block; }
  .cardGames {
    display: block; }
  .nftP {
    display: inline; } }

@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-areas: "header nav nav" "main main aside" "footer footer footer";
    grid-template-columns: 8fr 12fr 1fr; }
  .earned {
    display: block; }
  .details {
    display: block; }
  nav div {
    flex-direction: row; }
  aside {
    padding: 15px;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100vh;
    align-items: center; }
  .rebase {
    display: block; }
  .balances {
    display: block; }
  .kittenPrice {
    display: block; }
  .swapFlex {
    flex-direction: row;
    justify-content: space-between; }
  .farmInfo {
    font-size: large; } }
